h1 {
  font-family: Arial Black ;
  font-size : 18px ;
  color : blue ;
}
body{
  background-color:lightblue;
}
a {
  font-family :Times New Roman ;
  color : blue ;
  font-size : 18px ;
}
input {
  color : green ;
  border : 1px solid blue ;
}
label { font-family :Times New Roman ; 
} 
select {
  color : blue ;
}
h2 {
  font-size :35px ;
  font-family : Monospace ; 
  color : brown ;
  background-color : aqua  ;
}
label1 {
color : orange ;
}
label2 {
  color :  blue ;
} 
label3 {
  color : orangered;
}
label4 {
  color :cornflowerblue;
}
label5 {
  color : blue ;
  font-family :Times New Roman ;
  font-size :18px;
}
label6 {
  color :blue ;
  font-family :Times New Roman ; 
}
p3{
  font-size : 20px ;
}
hr {
  border : 3px solid green ;
}
legend {
  border : 5px darkgoldenrod ; 
  color : darkcyan;
  font-size : 20px ;
}
i {
  color : forestgreen;
}