h1 {
  font-family: Arial Black ;
  font-size : 18px ;
  color : blue ;
}
body{
  background-color:lightblue;
}
a {
  font-family :Times New Roman ;
  color : blue ;
}
input {
  color : green ;
}
label { font-family :Times New Roman ; 
} 
select {
  color : blue ;
}